html {
    font-family: 'Anek Telugu', sans-serif;
}

.contenedor {
    margin: 5% 5%;
}

.encabezado {
    border: solid 1px black;
    width: 500px;
    height: 300px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.anchoImgIframe {
    width: 50%;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    /*o;
    margin: 1px, 20px, 10px, 20px;
    o;
    margin: 10px, 20px, 10px;
    o;
    margin: 10px, 20px;
    o;
    border-top: 10px;
    border-right: 20px;
    border-bottom: 10px;
    border-left: 20px;*/
}

p {
    text-align: justify;
}

li {
    text-align: justify;
    color: cadetblue;
}

.textoResaltado {
    font-size: 18px;
    color: goldenrod;
}

.colorInstitucional {
    color: darkgoldenrod;
}

a {
    color: goldenrod;
}

.contenedorColumna {
    display: flex;
}

.columna {
    /*border: 1px solid black;*/
    padding: 20px;
}